@import "./variables.scss";

//
// Gap generators
//

@mixin segment() {
	margin-bottom: $gap-medium;

	@media (min-width: $break-md) {
		margin-bottom: $gap-medium-md;
	}
}

@mixin segment-small() {
	margin-bottom: $gap-small;

	@media (min-width: $break-md) {
		margin-bottom: $gap-small-md;
	}
}

@mixin segment-large() {
	margin-bottom: $gap-x-large;

	@media (min-width: $break-md) {
		margin-bottom: $gap-x-large-md;
	}
}