@import "../../assets/sass/variables.scss";

.Front {

	background-color: $color-front;

}

.Ripple {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid white;
}